{# @var plugin \FeedbackBird\Plugin\FeedbackBird #}
{# @var settings \FeedbackBird\Plugin\models\Settings #}

{% import '_includes/forms.twig' as forms %}

<div class="settings">
    <h2>General</h2>

    {{ forms.lightswitchField({
        label:        "Widget Status",
        id:           'widgetStatus',
        name:         'widgetStatus',
        instructions: 'Enable or disable the widget.',
        on:           settings.widgetStatus,
        errors:       settings.getErrors('widgetStatus')
    }) }}

    {{ forms.textField({
        label: 'UID',
        id: 'uID',
        name: 'uID',
        instructions: 'Enter the UID',
        tip: 'If you don’t have an UDI, you should create a new account at [FeedbackBird]({url}) and get it in your Profile → Settings.'|t('app', {
            url: 'https://feedbackbird.io/register',
        }),
        value: settings.uID,
        errors: settings.getErrors('uID')
    }) }}

    <h2>Customization</h2>

    {{ forms.selectField({
        label: 'Widget Position',
        id: 'widgetPosition',
        name: 'widgetPosition',
        instructions: 'Select the position of the widget on your website.',
        options: {
            'top-right': 'Top Right',
            'top-left': 'Top Left',
            'right': 'Right',
            'left': 'Left',
        },
        value: settings.widgetPosition,
        errors: settings.getErrors('widgetPosition')
    }) }}

    {{ forms.colorField({
        label: 'Widget Color',
        id: 'widgetColor',
        name: 'widgetColor',
        instructions: 'Choose a color for the widget.',
        value: settings.widgetColor,
        errors: settings.getErrors('widgetColor')
    }) }}

    {{ forms.textField({
        label: 'Button Label',
        id: 'widgetButtonLabel',
        name: 'widgetButtonLabel',
        instructions: 'Choose a label for the button of the widget.',
        value: settings.widgetButtonLabel,
        errors: settings.getErrors('widgetButtonLabel')
    }) }}

    {{ forms.textField({
        label: 'Widget Subtitle',
        id: 'widgetSubtitle',
        name: 'widgetSubtitle',
        instructions: 'Choose a subtitle for the widget.',
        value: settings.widgetSubtitle,
        errors: settings.getErrors('widgetSubtitle')
    }) }}


    <hr/>
    <h2>Show The Widget</h2>
    <div class="code-instructions">
        <p>This code snippet should be placed right before the <code>&lt;/head&gt;</code> closing tag in your HTML file.
        </p>
        <pre><code>{% verbatim %}{{ craft.feedbackBird.renderJavascript() }}{% endverbatim %}</code></pre>
    </div>
</div>
